.contActi {
  /*container attivita*/
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
  max-width: 1000px;
  margin: 1.5rem auto;
  border-radius: 2rem;
  padding: 1.5rem;
}
#AggAct {
  /*bottone agg attivita*/
  padding: 0.8rem;
  background-color: #a764bd;
  color: #ffffff;
  border: none;
  border-radius: 1.5rem;
  font-size: 1.1rem;
  cursor: pointer;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 15rem;
  user-select: none;
  box-sizing: border-box;
}

#AggAct:active {
  background-color: #53305e;
}
.titolo {
  margin-top: 1rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  color: #2c3e50;
}
.sottotitoli {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  align-items: center;
  gap: 1rem;
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
}
.sottotitolo1 {
  font-size: 1.2rem;
  font-weight: 500;
  user-select: none;
  margin-left: 1rem;
}

.sottotitoloInps {
  font-size: 1.2rem;
  font-weight: 500;
  user-select: none;
  margin-left: 40rem;
  text-align: center;
}

.sottotitolo2 {
  font-size: 1.2rem;
  font-weight: 500;
  user-select: none;
  margin-right: 1rem;
  text-align: right;
}
/* Stile per la lista delle attività */
.AttOggetto {
  display: grid;
  grid-template-columns: auto 1fr auto auto auto;
  align-items: center;
  gap: 1rem;
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
}
.ListaAtt {
  flex-wrap: 1;
  flex-direction: column;
  overflow-y: auto;
  border-radius: 1.5rem;
  padding: 1rem;
  width: 95%;
  min-height: 26rem;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
  gap: 0.8rem;
  display: flex;
  margin-left: 25px;
}

.AttNome {
  font-weight: 500;
  text-align: left;
}

/* Inps + Tariffa */

.AttTar {
  color: #7f8c8d;
  font-size: 0.9rem;
  text-align: center;
  white-space: nowrap;
}

.AttInps {
  color: #7f8c8d;
  font-size: 0.9rem;
  text-align: center;
  margin-right: 6.5rem;
}

.AttPallino {
  background-color: #3498db;
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 50%;
}

/* Bottone per eliminare le attivita */
.DeleteBtn {
  background-color: #e74c3c;
  color: #ffffff;
  border: none;
  border-radius: 0.5rem;
  padding: 0.25rem 0.25rem;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  transition: background 0.2s;
  user-select: none;
}
.DeleteBtn:active {
  background-color: #73301e;
}
.Deleteimg {
  width: 1.2rem;
  height: 1.2rem;
  object-fit: contain;
  display: block;
  margin: 0;
  padding: 0;
  user-select: none;
}

#modal-attivita {
  border: none;
  border-radius: 1.5rem;
  padding: 2rem;
  min-width: 260px;
  max-width: 90vw;
  margin: auto;

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

#formDialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#h2Dialog {
  margin-top: 0;
}

#menuDialog {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

#chiudi-modal-attivita {
  color: white;
  border: none;
  border-radius: 5rem;
  background-color: #999999;
  width: 6rem;
  height: 2.5rem;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    cursor: pointer;
  }
}

#salva-attivita {
  color: white;
  border: none;
  border-radius: 5rem;
  background-color: #56b1fb;
  width: 6rem;
  height: 2.5rem;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    cursor: pointer;
  }
}
