* {
  font-family: Jura;
  margin: 0;
}

header {
  position: relative;
  background-color: #fff;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
  z-index: 10;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  z-index: 1000px;

  span {
    cursor: default;
  }
}

.imgLogo {
  width: 10rem;
}

.hamburgerMenu {
  width: 2.5rem;
  border-radius: 25%;
}
.hamburgerMenu:hover {
  cursor: pointer;
  background-color: whitesmoke;
}

.spanSaluto {
  margin-left: 2rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.divLogo-saluto {
  display: flex;
  align-items: center;
}

.tendinaHamburger {
  background-color: white;
  position: absolute;
  top: 4.5rem;
  right: 0;
  padding: 1rem 2rem;
  border-radius: 0 0 0 2rem;
  min-width: 10rem;
}

.divElementoHamburger {
  margin: 1.5rem 0;
  display: flex;
  gap: 1rem;
  padding: 0.5rem 2rem;
  align-items: center;
  justify-content: space-between;
  border-radius: 2rem;
}
.divElementoHamburger:hover {
  cursor: pointer;
  background-color: whitesmoke;
}

.icoElementiHamburger {
  width: 2rem;
}

.spanElementoHamburger {
  flex-grow: 1;
  text-align: center;
  font-weight: 500;
}

.elementoSelezionato {
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.25);
}

a {
  text-decoration: none;
  color: black;
}

@media screen and (width < 1920px) {
  html {
    font-size: 14px;
  }
}
