.ContainerFatture {
  margin-top: 5rem;
  display: flex; /* Trasforma il contenitore in un flex container */
  gap: 20px; /* Imposta la distanza tra gli elementi flessibili (i tuoi div) */
  /* justify-content: center; */
  align-items: center;
  margin-left: 5rem;
  flex-wrap: wrap;
}

.anteprimaFattureWrapper{

  background: white;
  border-radius: 2rem; /* Aggiunge un bordo arrotondato per un aspetto migliore */
  padding: 2rem 0rem ; /* Aggiunge un padding per evitare che il contenuto tocchi i bordi */
  box-shadow: 0 0 1rem #888888;
}

.anteprimaFatture {
  height: 38rem; /* Imposta l'altezza desiderata */
  width: 32rem;
  display: flex; /* Cambia da inline-flex a flex */
  flex-direction: column; /* Dispone gli elementi in colonna */
  align-items: center; /* Centra gli elementi figli orizzontalmente */
  gap: 2rem; /* Spazio tra gli elementi figli */

  overflow-y: auto;  /*Aggiunge lo scroll verticale se il contenuto è troppo grande */
  box-sizing: border-box; /* Include il padding e il bordo nella larghezza e altezza totali */
  padding-right: 0.5rem;

    /* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
}

/* Chrome, Edge, Safari */
.anteprimaFatture::-webkit-scrollbar {
  margin-left: -0.5rem; /* Sposta la scrollbar verso sinistra */
  width: 10px;
}

.anteprimaFatture::-webkit-scrollbar-track {
  background: lightgray;
  border-radius: 2rem;
}

.anteprimaFatture::-webkit-scrollbar-thumb {
  background-color: darkgray;
  border-radius: 10px;
  border: 2px solid lightgray;
}

.specificaFattura {
  height: 40rem; /* Imposta l'altezza desiderata */
  width: 45rem;
  background-color: white;
  box-shadow: 0 0 1rem #888888;
  border-radius: 2rem;
  display: grid;
  grid-template-columns: 10rem 1fr; /* Due colonne: la prima di 10rem, la seconda occupa lo spazio rimanente */
  grid-template-rows:repeat(3, 1fr); /* Tre righe di altezza uguale */;
}

.anteprimaSpec {
  width: 28rem;
  min-height: 8rem;
  min-width: 28rem;
  background-color: #f3e6f8;
  cursor: pointer;
  color: black;
  border-radius: 2rem;
  display: flex; /* Aggiunto per centrare il contenuto interno */
  justify-content: center; /* Centra orizzontalmente il contenuto interno */
  align-items: center; /* Centra verticalmente il contenuto interno */

}

.anteprimaSpec.active {
  background-color: #a764bd;
}

.dot{
  height: 2rem;
  width: 2rem;
  background-color: #a764bd;
  border-radius: 50%;
  display: inline-block;
  margin: auto;
}

.TitoloFattura {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  margin: 3rem auto;
    /* position: relative; */
  display: block;
  padding-right: 3rem;
}

.sottoTitolo{
  font-size: 1.2rem;
  color: black;
  margin: 0.5rem auto;
  display: block;
}

.IconaPanoramica {
  width: 3rem;
  height: 3rem;
  display: inline-block;
  margin: auto;
}

ul{
  position:absolute;
  margin:  auto;
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  padding-left: 1rem;
}

.Panoramica{
  margin-top: 3.75rem;
}

.pre {
  white-space: pre;
  font-weight: bold;
  width: 15rem;
}

.Money{
  font-weight: bolder;
  text-align: center;
  font-size: 2rem;
}
.iconaMoney{
  width: 2rem;
  height: 2rem;
}

.arrowIcon{
  width: 2rem;
  height: 2rem;
  display: inline-block;
  margin: auto;
}