h1{
  margin: 2rem 5rem 1rem
}

.pCount{
  margin-left: 5rem;
}

.ContainerFatture {
  margin-top: 5rem;
  display: flex; /* Trasforma il contenitore in un flex container */
  gap: 20px; /* Imposta la distanza tra gli elementi flessibili (i tuoi div) */
  align-items: center;
  margin-left: 5rem;
  flex-wrap: wrap;
  margin-block-end: 2%;
}

.anteprimaFattureWrapper{
  background: white;
  border-radius: 2rem; /* Aggiunge un bordo arrotondato per un aspetto migliore */
  padding: 2rem 0rem ; /* Aggiunge un padding per evitare che il contenuto tocchi i bordi */
  box-shadow: 0 0 1rem #888888;
}

.anteprimaFatture {
  height: 38rem; /* Imposta l'altezza desiderata */
  width: 32rem;
  display: flex; /* Cambia da inline-flex a flex */
  flex-direction: column; /* Dispone gli elementi in colonna */
  align-items: center; /* Centra gli elementi figli orizzontalmente */
  gap: 2rem; /* Spazio tra gli elementi figli */

  overflow-y: auto;  /*Aggiunge lo scroll verticale se il contenuto è troppo grande */
  box-sizing: border-box; /* Include il padding e il bordo nella larghezza e altezza totali */
  padding-right: 0.5rem;

    /* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
}

/* Chrome, Edge, Safari */
.anteprimaFatture::-webkit-scrollbar {
  margin-left: -0.5rem; /* Sposta la scrollbar verso sinistra */
  width: 10px;
}

.anteprimaFatture::-webkit-scrollbar-track {
  background: lightgray;
  border-radius: 2rem;
}

.anteprimaFatture::-webkit-scrollbar-thumb {
  background-color: darkgray;
  border-radius: 10px;
  border: 2px solid lightgray;
}

.specificaFattura {
  height: 40rem; /* Imposta l'altezza desiderata */
  width: 45rem;
  background-color: white;
  box-shadow: 0 0 1rem #888888;
  border-radius: 2rem;
  display: grid;
  grid-template-columns: 10rem 1fr; /* Due colonne: la prima di 10rem, la seconda occupa lo spazio rimanente */
  grid-template-rows:repeat(3, 1fr); /* Tre righe di altezza uguale */;
}

.anteprimaSpec {
  width: 28rem;
  min-height: 8rem;
  min-width: 28rem;
  background-color: #f3e6f8;
  cursor: pointer;
  color: black;
  border-radius: 2rem;
  display: flex; /* Aggiunto per centrare il contenuto interno */
  justify-content: center; /* Centra orizzontalmente il contenuto interno */
  align-items: center; /* Centra verticalmente il contenuto interno */

}

.anteprimaSpec.active {
  background-color: #a764bd;
}

.dot{
  height: 2rem;
  width: 2rem;
  background-color: #a764bd;
  border-radius: 50%;
  display: inline-block;
  margin: auto;
}

.TitoloFattura {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  margin: 3rem auto;
    /* position: relative; */
  display: block;
  padding-right: 3rem;
}

.sottoTitolo{
  font-size: 1.2rem;
  color: black;
  margin: 0.5rem auto;
  display: block;
}

.IconaPanoramica {
  width: 3rem;
  height: 3rem;
  display: flex;
  margin: auto;
  justify-content: center;
  text-align: center;
  
}

ul{
  margin-block:  auto;
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  padding-left: 1rem;
  padding-right:1rem;
}

.Panoramica{
  display: flex;
}

.pre {
  white-space: pre;
  font-weight: bold;
  /*width: 15rem;*/
}

.Money{
  font-weight: bolder;
  text-align: center;
  font-size: 2rem;
}
.iconaMoney{
  width: 2rem;
  height: 2rem;
}

.arrowIcon{
  width: 2rem;
  height: 2rem;
  display: inline-block;
  margin: auto;
}

button.Delete {
  background-color: #D83C66;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  transform: translateY(0.5rem);
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  box-shadow: 0 2px 4px darkslategray;
}

/*button.Delete:hover {
  box-shadow: 0 0 4px darkslategray;
  transform: translateY(0);
}
*/
button.Delete:active {
  box-shadow: 0 0 2px darkslategray;
  transform: translateY(0.5rem);
}


@media screen and (width < 480px) {

  h1, .pCount{
    text-align: center;
    margin: 0 auto;
    padding-top: 1rem;
  }

  .ContainerFatture {
    flex-direction: column; /* Cambia la direzione del flex container in colonna */
    align-items: center; /* Centra gli elementi figli orizzontalmente */
    margin-left: 0; /* Rimuove il margine sinistro per centrare */
    max-width:100%;
    min-height: auto; /* Imposta un'altezza minima per il contenitore */
  }

  .anteprimaFattureWrapper {
    width: 100%; /* Imposta la larghezza al 100% per schermi piccoli */
    min-height: auto; /* Rimuove l'altezza minima per schermi piccoli */
  }

  .anteprimaFatture {
    max-width: 100%; /* Imposta la larghezza al 95% per schermi piccoli */
    min-height: auto;
  }

  .specificaFattura {
    width: 100%; /* Imposta la larghezza al 95% per schermi piccoli */
    min-height: auto; /* Rimuove l'altezza minima per schermi piccoli */;
    grid-template-columns: 5rem 1fr; /* Due colonne: la prima di 5rem, la seconda occupa lo spazio rimanente */
  }

  .TitoloFattura {
    font-size: 1rem;
    padding-right: 1rem;
  }

  .sottoTitolo {
    font-size: 1rem;
  }

  ul {
    font-size: 0.8rem;
    padding-left: 0.5rem;

  }
  .IconaPanoramica {
    max-width: 1rem;
    height: auto;
  }
  .Panoramica {
    margin-top: 2rem;
  }
  .pre {
    font-size: 0.8rem;
  }
  .Money {
    font-size: 1rem;
  }

  .iconaMoney {
    aspect-ratio: 1; /* Mantiene l'aspetto quadrato */
    width: 1rem; /* Riduce la dimensione per schermi piccoli */
  }
  .arrowIcon {
    width: 1rem;
    aspect-ratio: 1; /* Mantiene l'aspetto quadrato */
  }
  .anteprimaSpec {
    width: 100%; /* Imposta la larghezza al 100% per schermi piccoli */
    min-width: 20rem; /* Limita la larghezza minima */
  }
  .anteprimaSpec.active {
    background-color: #a764bd;
  }
  .dot {
    height: 1.5rem;
    width: 1.5rem;
    background-color: #a764bd;
    border-radius: 50%;
    display: inline-block;  
    margin: auto;
  }

  button.Delete {
    width: 2rem;
    height: 2rem;
    font-size: 1rem; /* Riduce la dimensione del testo per schermi piccoli */
  }

  
  button.Delete:active {
    box-shadow: 0 0 2px darkslategray;
    transform: translateY(0.5rem);
  }
}