.ContainerFatture {
  margin-top: 5rem;
  display: flex; /* Trasforma il contenitore in un flex container */
  gap: 20px; /* Imposta la distanza tra gli elementi flessibili (i tuoi div) */
  /* justify-content: center; */
  align-items: center;
  margin-left: 5rem;
  flex-wrap: wrap;
}

.anteprimaFatture {
  height: 40rem; /* Imposta l'altezza desiderata */
  width: 32rem;
  background-color: white;
  box-shadow: 0 0 1rem #888888;
  overflow-y: auto; /* Aggiunge lo scroll verticale se il contenuto è troppo grande */
  border-radius: 2rem; /* Aggiunge un bordo arrotondato per un aspetto migliore */
  display: flex; /* Cambia da inline-flex a flex */
  flex-direction: column; /* Dispone gli elementi in colonna */
  align-items: center; /* Centra gli elementi figli orizzontalmente */
}

.specificaFattura {
  height: 40rem; /* Imposta l'altezza desiderata */
  width: 45rem;
  background-color: white;
  box-shadow: 0 0 1rem #888888;
  border-radius: 2rem;
  display: grid;
  grid-template-columns: 10rem 1fr; /* Due colonne: la prima di 10rem, la seconda occupa lo spazio rimanente */
  grid-template-rows:repeat(3, 1fr); /* Tre righe di altezza uguale */;
}

.anteprimaSpec {
  height: 8rem;
  width: 30rem;
  background-color: #c6adcf /* #A764BD */;
  cursor: pointer;
  color: black;
  border-radius: 2rem;
  display: flex; /* Aggiunto per centrare il contenuto interno */
  justify-content: center; /* Centra orizzontalmente il contenuto interno */
  align-items: center; /* Centra verticalmente il contenuto interno */
  margin: 1.5rem auto 0 auto; /* Sposta il div un po' in basso e lo centra orizzontalmente */
}

.anteprimaSpec.active {
  background-color: #a764bd;
}

.dot{
  height: 2rem;
  width: 2rem;
  background-color: #a764bd;
  border-radius: 50%;
  display: inline-block;
  margin: auto;
}

.TitoloFattura {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  margin: 3rem auto;
  display: block;
}

.sottoTitolo{
  font-size: 1.2rem;
  color: black;
  margin: 0.5rem auto;
  display: block;
}